.element {
  border-radius: 25px;
background: linear-gradient(127deg, #FFF 37.24%, #30A542 51.82%, #FFF 66.93%); }

 .nav{border-radius: 0px 0px 45px 45px;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.82) 0.78%, rgba(255, 255, 255, 0.82) 100%);
  backdrop-filter: blur(10px);}

.font{color: #1BA266;
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: normal;}
  

.text{color: #1BA266;
font-family: Poppins;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: normal;}


.background{
  background: rgba(255, 255, 255, 0.75);
backdrop-filter: blur(35px);

}


.font2{color: rgba(0, 0, 0, 0.75);
text-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
font-family: Poppins;
font-size: 26px;
font-style: ;
font-weight: 100;
line-height: normal;}

.font3{
  color: #FFF;
font-family: Poppins;
font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: normal;
}

.rec{
  border-radius: 0px 32px 32px 32px;
background: linear-gradient(90deg, #245348 0%, rgba(21, 113, 58, 0.98) 100%);
}

.brec{
  border-radius: 32px 0px 32px 32px;
background: linear-gradient(90deg, #9D9D9D 0%, #474747 100%);
width: 343px;
height: 109px;
flex-shrink: 0;
}

.srec{
  border-radius: 0px 32px 32px 32px;
background: linear-gradient(90deg, #245348 0%, rgba(21, 113, 58, 0.98) 100%);
width: 217px;
height: 79px;
flex-shrink: 0;}

.pw{
  color: rgba(0, 0, 0, 0.75);
font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 600;
line-height: normal;

}

.b{
  border-radius: 25px;
background: linear-gradient(127deg, #FFF 37.24%, #30A542 51.82%, #FFF 66.93%);
}

.mtx{
  color: #1BA266;
font-family: Poppins;
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: normal;
}

.footer{
  border-radius: 0px 0px 45px 45px;
background: linear-gradient(180deg, rgba(255, 255, 255, 0.82) 0.78%, rgba(255, 255, 255, 0.82) 100%);
backdrop-filter: blur(10px);
}

.setting{border-radius: 15px;
  background: rgba(94, 94, 94, 0.54);
  width: 368px;
  height: 120px;
  flex-shrink: 0;}
  .s2{
    border-radius: 15px;
background: rgba(94, 94, 94, 0.54);
width: 368px;
height: 250px;
flex-shrink: 0;
  }